{% extends "admin/base_site.html" %}

{# Original file: django/contrib/admin/templates/admin/change_list.html #}
{# This is nearly identical to the above file. #}

{% load adminmedia admin_list i18n worklog_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}


{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
	function getUrlVars() {
	    var vars = {};
	    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
		vars[key] = value;
		});
            if ("e" in vars) {
            	delete vars['e'];
	    }
	    return vars;
	}
        function getUrlString(vars) {
            var UrlString = "?";
            for(var key in vars) {
		UrlString = UrlString + "&" + key + "=" + vars[key];
	    }
            return UrlString;
	}

        function getBeforeUrl(date){
            var url = window.location.href.split("?")[0];
	    var vars = getUrlVars();
            if (date.length == 10) {
	       vars['date__lt'] = date;
            } else {
               delete vars['date__lt'];
	    }
	    return url+getUrlString(vars);
	}
        
	function getAfterUrl(date){
            var url = window.location.href.split("?")[0];
	    var vars = getUrlVars();
            if (date.length == 10) {
	       vars['date__gt'] = date;
            } else {
               delete vars['date__gt'];
	    }
	    return url+getUrlString(vars);
	}
	
</script>
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
        var vars = getUrlVars()
        if ("date__lt" in vars) {
	   document.getElementById("id_before_date").value = vars['date__lt'];
        }
        if ("date__gt" in vars) {
	   document.getElementById("id_after_date").value = vars['date__gt'];
        }
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="../">
         {{ app_label|capfirst }}
      </a>
      &rsaquo; 
      {{ cl.opts.verbose_name_plural|capfirst }}
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          <li>
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
              {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
          </li>
        </ul>
      {% endif %}
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
            <h2>After:</h2>
            <input class="vDateField" id="id_after_date" name="after_date" type="text" value="" size="10">
            <input type="button" value="Filter" onClick="window.location = getAfterUrl(document.getElementById('id_after_date').value);">	 
            <h2>Before:</h2>
            <input class="vDateField" id="id_before_date" name="before_date" type="text" size="10">
            <input type="button" value="Filter" onClick="window.location = getBeforeUrl(document.getElementById('id_before_date').value);">	 
          </div>
        {% endif %}
      {% endblock %}
      
      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        {{ cl.formset.management_form }}
      {% endif %}
      {% block result_list %}
      
          {# MODIFIED: changed 'admin_actions' to 'workitem_admin_actions' #}
          {# See: worklog/templatetags/worklog_tags.py for the defintiion of 'workitem_admin_actions' #}
          
          {% if action_form and actions_on_top and cl.full_result_count %}{% workitem_admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% workitem_admin_actions %}{% endif %}
          
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
