<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >

<head>
<title></title>
<style type="text/css" media="screen">
  th { text-align: right; vertical-align: top; }
</style>
</head>

<body>
<h2>Add a new Work Item</h2>
{% if form %}
  {% if reminder_id %}
    <form action="/worklog/add/reminder_{{reminder_id}}/" method="post">
  {% else %}
    <form action="/worklog/add/" method="post">
  {% endif %}
      <table>
        {% csrf_token %}
        {{ form }}
        <tr>
        <td><input type="submit" name="submit_and_exit" value="Submit and Exit" /></td>
        <td><input type="submit" name="submit_and_add_another" value="Submit and Add Another" /></td>
        </tr>
      </table>
    </form>
{% else %}
    <p>This application is broken somehow...</p>
{% endif %}
</body>

</html>
