<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >

<head>
    <title>Job Charts</title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.selection.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.threshold.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/chart.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/smoothness.css" />

    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" href="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        var c, options = {
            xaxis: {
                mode: 'time',
                timeformat: '%m-%d-%y'
            },
            yaxis: {
                label: 'Hours Available'
            }
        };
        
        var jobDataUrl = '{% url job_data_url %}';
        var jobId = '';
        
        function parseData(data, status, xhr) {
            if('error' in data) {
                $('#plot').after('<div class="error">' + data['error'] + '</div>');
            } else {
                var arr = [],
                    keys = [],
                    count = 0,
                    positive,
                    negative,
                    changedGraph = false;
            
                //Grab the keys
                for(var d in data) {
                    keys.push(d);
                }

                //Sort the keys since they are not sorted
                //when returned from the python
                keys.sort();
                
                if(data[keys[0]] > 0) {
                    positive = true;
                    negative = false;
                } else {
                    positive = false;
                    negative = true;
                }
            
                for(var i = 0; i < keys.length; i++) {
                    var point = [new Date(keys[i]).getTime(), data[keys[i]]];
                    arr.push(point);
                    
                    if(data[keys[i]] > 0) {
                        if(!positive) {
                            changedGraph = true;
                        }
                        
                        positive = true;
                        negative = false;
                    } else {
                        if(!negative) {
                            changedGraph = true;
                        }
                        
                        positive = false;
                        negative = true;
                    }
                }
                
                var chartingData = {
                    data: arr,
                    threshold: { below: 0, color: '#FF0000' }
                };
            
                c = new Chart('#plot', [chartingData], options);
            
                if($('#overview').children().length) {
                    c.disableOverview();
                }
            
                c.displayLineChart();
                c.enableOverview('#overview');
                
                drawAxes();
                
                function respectYAxis() {
                    var changed = true;
                    
                    if($('#y-axis').attr('checked')) {
                        if(!changedGraph) {
                            if(negative) {
                                options.yaxis.max = 0;
                            } else {
                                options.yaxis.min = 0;
                            }
                        } else {
                            if('min' in options.yaxis) {
                                delete options.yaxis.min
                            }
                            
                            if('max' in options.yaxis) {
                                delete options.yaxis.max;
                            }
                            
                            changed = true;
                        }
                    } else {
                        if('min' in options.yaxis) {
                            delete options.yaxis.min;
                        } else if('max' in options.yaxis) {
                            delete options.yaxis.max;
                        } else {
                            changed = false;
                        }
                    }
                    
                    if(changed) {
                        c.changeOptions(options);
                        c.displayLineChart();
                        drawAxes();
                    }
                }
                
                function respectTooltips() {
                    if($('#tooltips').attr('checked')) {
                        c.enableTooltips();
                    } else {
                        c.disableTooltips();
                    }
                }
                
                //Register the y-axis listener
                $('#y-axis').click(respectYAxis);
                
                //Register the tooltips listener
                $('#tooltips').click(respectTooltips);
                
                //Handle the y-axis checkbox right after charting
                respectYAxis();
                
                //Handle the tooltips checkbox right after charting
                respectTooltips();
            }
        }
        
        function drawAxes() {
            $('canvas.overlay').attr('height', '550');
            var context = $('canvas.overlay')[0].getContext('2d');
            context.fillStyle = '#000';
            context.font = 'bold 12px sans-serif';
            context.textAlign ='center';
            context.fillText('Days', 275, 515);
            context.rotate(90 * Math.PI / 180);
            context.fillText('Available hours', 235, -3);
        }

        $(document).ready(function() {
            $('#startDate').datepicker({
                format: 'mm/dd/yy'
            });
            
            $('#endDate').datepicker({
                format: 'mm/dd/yy'
            });
            
            $('#chartingForm').submit(function(e) {
                e.preventDefault();
                e.stopPropagation();
                
                $('div.error').remove();
                
                if($('#jobs').val() === '-1') {
                    $('#plot').after('<div class="error">Select a job</div>');
                } else {
                    jobId = $('#jobs > optgroup > option:selected').val();
                    $.post('', $(this).serialize(), parseData, 'json');
                }
            });
        });
    </script>
    
    <style type="text/css">
        body {
            font-family: helvetica, arial, sans-serif;
            font-size: .8em;
        }
        .label {
            -o-transform:rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -webkit-transform:rotate(-90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
        .error {
            color: #FF0000;
            margin-bottom: 3px;
        }
        #options {
            margin: 30px 0px;
        }
    </style>
</head>

<body>
    <div class="content">
        <div id="plot" style="width: 550px; height: 500px; float: left; margin: 0px 20px 0px 10px"></div>
        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}
        {% if job_id %}
            <script type="text/javascript">
                $(document).ready(function() {
                    jobId = '{{ job_id }}'
                    $('#jobs > optgroup > option[value={{ job_id }}]').attr('selected', 'selected');
                    $('#chartingForm').submit();
                });
            </script>
        {% endif %}
        <form id="chartingForm" method="post" target="">
            {% csrf_token %}
            <select id="jobs" name="job_id">
    			<option value="-1">-- Select a Job --</option>
    			<optgroup label="Open Jobs">
                    {% for job in open_jobs %}
                    <option value="{{ job.pk }}">{{ job }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Closed Jobs">
                    {% for job in closed_jobs %}
                    <option value="{{ job.pk }}">{{ job }}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <br />
            <label for="startDate">Start Date (mm/dd/yyyy)</label>
            <input type="text" id="startDate" name="start_date" value="" /><br />
            <label for="endDate">End Date (mm/dd/yyyy)</label>
            <input type="text" id="endDate" name="end_date" value="" /><br />
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div id="options">
        <label for="y-axis">Show Y-Axis</label>
        <input type="checkbox" id="y-axis" /><br />
        <label for="tooltips">Show Worklog Entries</label>
        <input type="checkbox" id="tooltips" /><br />
        <div id="overview" style="margin-top: 15px; width: 300px; height: 80px; float: left"></div>
    </div>
</body>

</html>