<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >

<head>
<title>Generate Timesheets</title>

<style type="text/css">
.error {
	color: #FF0000;
}

.success {
	color: #00DD00;
}
</style>
<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" href="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div class="content">
	{% if error %}
	<h2 class="error">{{ error }}</h2>
	{% else %}
	<h2>Biweekly Employees</h2>
	{% if success %}
	<h3 class="success">{{ success }}</h3>
	{% endif %}
	<form id="timesheet_form" action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="date" value="{{ date }}" />
		<select id="employees" name="employee_id">
			{% for employee in employees %}
			<option name="employee_id" value="{{ employee.pk }}">{{ employee }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Send Timesheet" />
	</form><br />
	<form id="timesheet_form_all" action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="date" value="{{ date }}" />
		<input type="submit" name="all_employees" value="Send All Timesheets" />
	</form>
	{% endif %}
</div>
</body>
</html>