<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >

<head>
<title></title>
<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" href="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<!-- Sidebar -->
<div class="sidebar" style="float: right;">
  {% for submenu in filtermenu %}
    {% if submenu.name %}<h3>By {{ submenu.name }}</h3>{% endif %}
    <ul>
    {% for item in submenu.items %}
      <li><a href="{{ menulink_base }}?{{ item.querystring }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
</div>

<!-- Content -->
<div class="content">
  {% if items %}
  
    <!-- Work item table -->
    <table border="1">
      <tr>
      {% for title in column_names %}
        <th>{{ title }}</th>
      {% endfor %}
      </tr>
      
      {% for item in items %}
        <tr>
          {% for field in item %}
            <td>{{ field }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  
  {% else %}
    <p>No work accomplished... this is terrible!</p>
  {% endif %}
  
  <!-- Contents of the current query -->
  <p style="margin-bottom: 0em;">Current query:</p>
  <table style="margin-left: 3em;">
    {% if current_filters %}
      {% for key,val in current_filters %}
        <tr><td>{{ key }}:</td><td>{{ val }}</td></tr>
      {% endfor %}
    {% else %}
      <tr><td>Showing all work items.</td></tr>
    {% endif %}
  </table>
  
</div>

</body>

</html>