<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >

<head>
<title></title>
<style type="text/css" media="screen">
  .formtable th { text-align: right; vertical-align: top; }

  h3 {
    color: #FF0000;
  }
</style>
<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" href="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<h2>Add a new Work Item</h2>
{% if holidays %}
<h3>Today is a holiday. Work item hours will not count towards timesheet.</h3>
{% endif %}

{% if form %}
  <h4>For: {{ date|date:"DATE_FORMAT" }}</h4>
  
  {% if reminder_id %}
  <form action="/worklog/add/reminder_{{reminder_id}}/" method="post">
  {% else %}
  <form action="/worklog/add/" method="post">
  {% endif %}
    <table class='formtable'>
      {% csrf_token %}
      {{ form }}
      <tr>
      <td><input type="submit" class="btn" name="submit_and_exit" value="Submit and Exit" /></td>
      <td><input type="submit" class="btn" name="submit_and_add_another" value="Submit and Add Another" /></td>
      </tr>
    </table>
  </form>
  
  <h4>Other Work Items Submitted on {{ date|date:"DATE_FORMAT" }}:</h4>
  <table border="1">
    <tr>
    {% for title in column_names %}
      <th>{{ title }}</th>
    {% endfor %}
    </tr>
    
    {% for item in items %}
      <tr>
        {% for field in item %}
          <td>{{ field }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  
{% else %}
    <p>This application is broken somehow...</p>
{% endif %}
</body>

</html>
